.contacts-page {
  .contacts {
    .section__inner {
      padding-top: 0;
    }
  }

  .feedback {
    .section__inner {
      padding-top: 0;
    }
  }

  .gallery-one-row {
    .section__inner {
      padding-top: 0;
    }
	}

	.seo {
		.section__inner {
			padding-bottom: 33px;
		}
	}
}
