.gallery {
	position: relative;

	&__tabs {
		display: flex;
		align-items: center;
		margin-bottom: 100px;

		@include media('max', 'lg') {
			margin-bottom: 50px;
		}
		@include media('max', 'sm') {
			flex-direction: column;
			margin-bottom: 30px;
		}
	}

	&__tab {
		display: flex;
		align-items: center;
		margin-right: 10px;
		padding: 16px 25px;

		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;

		background-color: $bg-gray2;
		border-radius: 3px;
		cursor: pointer;

		@include media('max', 'sm') {
			width: 100%;
			margin-right: 0;
			margin-bottom: 5px;
		}

		svg {
			margin-right: 17px;
		}

		&:hover {
			color: $color-red;

			background-color: $bg-gray3;

			svg path {
				fill: $color-red;
			}
		}
	}

	&__list {
		margin-right: -15px;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;

		@include media('max', 'sm') {
			margin-right: 0;
		}
	}

	&__item {
		float: left;
		width: calc(100% / 4 - 15px);
		height: 188px;
		margin-right: 15px;
		margin-bottom: 15px;

		@include media('max', 'lg') {
			width: calc(100% / 3 - 15px);
		}
		@include media('max', 'md') {
			width: calc(100% / 2 - 15px);
		}
		@include media('max', 'sm') {
			width: calc(100%);
			margin-right: 0;
		}

		&:first-child {
			width: calc(50% - 15px);
			height: 391px;

			@include media('max', 'lg') {
				width: calc((100% / 3) * 2 - 15px);
			}
			@include media('max', 'md') {
				width: calc(100% / 2 - 15px);
				height: 188px;
			}
			@include media('max', 'sm') {
				width: calc(100%);
			}
		}
	}

	&__img {
		width: 100%;
		height: 100%;

		object-fit: cover;
	}
}
