.opening-hours {
	position: relative;

	padding-left: 33px;

	font-size: 14px;
	line-height: 17px;

	&::before {
		content: '';
		position: absolute;
		left: 0;

		width: 20px;
		height: 20px;

		background-image: url(../images/ico/ico-time.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}
}
