$color-primary: #e5e5e5;
$color-red: #e10000;
$color-red-dark: #ff1c1b;
$color-nav: #d9d9d9;
$color-gray: #a0a0a0;
$color-gray-dark: #818181;

$bg-body: #211f1f;
$bg-header: #111010;
$bg-dark1: #050505;
$bg-gray: #3b3838;
$bg-gray2: #1c1a1a;
$bg-gray3: #121111;
$bg-modals: rgba(255, 255, 255, 0.3);

$pt-sans: 'PT Sans', 'Montserrat', 'Times New Roman', sans-serif;
