.clearfix {
	&:after {
		content: ' ';

		display: block;
		clear: both;
		height: 0;

		font-size: 0;

		visibility: hidden;
	}
}

.invisible-container {
	position: absolute;
	top: -9999px;
	left: -9999px;
	z-index: -1;

	width: 0;
	height: 0;
	overflow: hidden;
}

.no-select {
	user-select: none;
}

.no-pe {
	pointer-events: none;
}

.static-text {
	p {
		margin-bottom: 1.4em;
	}
	img {
		max-width: 100%;
	}
}

a,
a:visited {
	color: $color-primary;
}

.btn {
	display: inline-block;

	line-height: 100%;
	color: $color-primary;

	background-color: transparent;
	border: none;
	outline: none;
}

.section__inner {
	padding: 80px 0;

	@include media('max', 'lg') {
		padding: 60px 0;
	}

	@include media('max', 'md') {
		padding: 50px 0;
	}

	@include media('max', 'sm') {
		padding: 30px 0;
	}
}

.section__title {
	position: relative;

	margin-bottom: 70px;

	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;

	@include media('max', 'lg') {
		margin-bottom: 40px;

		font-size: 18px;
		line-height: 22px;
	}

	&::before {
		content: '';
		position: absolute;
		bottom: -18px;
		left: 50%;

		width: 100px;
		height: 2px;

		background: $color-primary;
		transform: translateX(-50%);

		@include media('max', 'lg') {
			bottom: -10px;
		}
	}
}
