// bug viewport in Mobile Safari
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;

	font-size: 16px;
	font-family: 'Montserrat', 'Times New Roman', Arial, sans-serif;
	color: $color-primary;

	background-color: $bg-body;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
