.catalog-main {
  .section__inner {
    background-image: url(../images/main/catalog-main/bg-catalog-main.png);
    background-repeat: no-repeat;
    background-position: -60px center;
    background-size: auto 80%;

    @include media("max", "lg") {
      background-position: top center;
      background-size: auto 60%;
    }
    @include media("max", "md") {
      background-size: auto 35%;
    }
  }

  .catalog {
    position: relative;

    width: 71%;
    padding-right: 0;

    @include media("max", "lg") {
      width: 100%;
      padding-right: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;

      width: 100%;
      width: calc((100vw - 1185px) / 2);

      background-color: $bg-dark1;

      @include media("max", "xl") {
        width: calc((100vw - 945px) / 2);
      }
      @include media("max", "lg") {
        content: none;
      }
    }
  }
}
