.header__nav {
	display: none;

	@media only screen and (max-width: 1024px) {
		position: absolute;
		top: 59px;
		left: -270px;
		z-index: 20;

		display: block;
		min-width: 265px;
		padding: 25px;

		background: $bg-header;

		transition: left 0.5s ease;
		&.active-mob {
			left: 0;
		}
	}

	@media only screen and (min-width: 1024px) {
		display: block;
	}

	.nav {
		&__items {
			display: flex;
			justify-content: space-between;

			@media only screen and (max-width: 1024px) {
				flex-direction: column;
			}
		}

		&__item {
			position: relative;

			display: flex;
			align-items: center;

			cursor: pointer;

			&:hover {
				.bricks-ico path,
				.price-ico rect {
					fill: $color-red;
				}

				> .nav__link {
					color: $color-red;

					&.nav-arrow {
						&::after {
							border-color: $color-red;

							transition: transform 0.4s ease-in-out;
							@media only screen and (min-width: 1025px) {
								transform: translateY(0) rotate(-135deg);
							}
						}
					}
				}

				// &.nav-arrow {
				//   &::after {
				//     border-color: $color-red;

				//     transition: transform 0.4s ease-in-out;
				//     @media only screen and (min-width: 1025px) {
				//       transform: translateY(0) rotate(-135deg);
				//     }
				//   }
				// }

				@media only screen and (min-width: 1025px) {
					.submenu {
						display: block;
					}
				}
			}

			.bricks-ico {
				margin-right: 15px;
			}

			.price-ico {
				margin-left: 15px;
			}

			// &.nav-arrow {
			//   // position: relative;
			//   padding-right: 23px;
			//   &::after {
			//     content: "";
			//     position: absolute;
			//     top: 50%;
			//     right: 0;

			//     width: 8px;
			//     height: 8px;

			//     border-right: 2px solid #757575;
			//     border-bottom: 2px solid #757575;
			//     transform: translateY(-50%) rotate(45deg);

			//     transition: transform 0.1s ease-in-out;

			//     @media only screen and (max-width: 1024px) {
			//       transform: translateY(-50%) rotate(-45deg);
			//     }
			//   }
			// }
		}

		&__link {
			display: block;
			padding: 19px 0;

			font-weight: 700;
			font-size: 16px;
			font-family: $pt-sans;
			color: $color-nav;

			@media only screen and (max-width: 1024px) {
				padding: 12px 0;

				font-size: 14px;
			}

			&.nav-arrow {
				position: relative;

				padding-right: 23px;
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;

					width: 8px;
					height: 8px;

					border-right: 2px solid #757575;
					border-bottom: 2px solid #757575;
					transform: translateY(-50%) rotate(45deg);

					transition: transform 0.1s ease-in-out;

					@media only screen and (max-width: 1024px) {
						transform: translateY(-50%) rotate(-45deg);
					}
				}
			}
		}
	}

	.submenu {
		position: absolute;
		top: 56px;
		right: 0;
		left: 0;
		z-index: 20;

		display: none;
		width: max-content;
		padding: 20px 40px;

		background: $bg-header;
		border-left: 2px solid $color-red;
		border-radius: 0 0 2px 0;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);

		@media only screen and (max-width: 1024px) {
			width: 265px;
			padding: 20px;
			padding-left: 30px;
		}

		svg {
			margin-right: 15px;
		}

		&__back {
			display: none;
			@media only screen and (max-width: 1024px) {
				display: flex;
			}

			span {
				position: relative;

				padding: 12px 0;

				font-size: 14px;
				line-height: 18px;
				font-family: $pt-sans;
				color: #757575;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: -15px;

					width: 8px;
					height: 8px;

					border-bottom: 2px solid #757575;
					border-left: 2px solid #757575;
					transform: translateY(-50%) rotate(45deg);

					transition: transform 0.1s ease-in-out;
				}
			}
		}

		.nav__item:hover {
			svg path {
				fill: $color-red;
			}
		}
	}

	&.active-mob {
		.nav__item {
			position: static;
		}

		.submenu {
			top: 0;
			left: -270px;
			z-index: 9999;

			display: block;
			height: 100%;

			transition: left 0.5s ease;
			&.active {
				left: 0;
			}
		}
	}
}
